body {
    text-align: center;
    background-image: url(6.jpg);
}
.login{
    width: 350px;
    height: 370px;
    background-color: white;
    margin: 150px auto;
    font-weight: 900;
    border:1px #eee solid;
}
.top{
    width:100%;
    height: 50px;
    background-color: white;
    float: left;;
    color: black;
    text-align: center;
    line-height: 50px;
}
.ref{
    width: 280px;
    height: 40px;
    margin-top: 30px;
    margin-left: 20px;
    float: left;
    text-align: center;
    line-height: 40px;
}
#lg{
    width: 100px;
    height: 40px;
    font-size: 12pt;
    border:1px #eee solid;
}
#res{
    width: 100px;
    height: 40px;
    font-size: 12pt;
    margin-left: 30px;
    border:1px #eee solid;
}
.button{
    margin-top: 150px;
    margin-left: 10px;
}
#input{
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
}
#input:focus{
        border-color: #66afe9;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}

