@charset "utf-8";
body{
	}
	.main{
		
		margin:200px 450px;
　　    				
	}
	.day {
		width: 600px;
		background-color:#F0DF1B;
	    color:#000000;
		text-align: center;
	    border:1px solid #dddddd;
	    border-collapse:collapse;
		
	}
	.agenBg2{
		background-color:#93DAFF;
	    color:#000000;
	    border: 1px solid #dddddd;
	    border-collapse:collapse;
		
			
	}
	.ts{
		border:1px solid #dddddd;
	    border-collapse:collapse;
	}
	.work>td{
		
	}
	
	.meetingtime{
		
	}
	.agendaTable{
		margin:0px;
		border: #5F78F1 ;
		text-align: center;
	}
	.agemdaTbale>table{
		text-align: center;
		border:1px solid #dddddd;
	    border-collapse:collapse;
	}
/* CSS Document */

